* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: linear-gradient(to bottom,#DC6A5F,#C97062,#C1BAB2);
}

.resume{
  max-width: 1000px;
  width: 80%;
  background: #fff;
  margin: 25px auto;
  display: flex;
}

.text a:visited {
  color: #9A2540;
  text-decoration: none;
}

.left {
  background: #D9DADC;
  width: 250px;
  padding: 0 20px;
}

.right {
  width: calc(100% - 150px);
}

/*-- IMAGE  CONTAINER --*/

.left .img_holder {
  text-align: center;
  padding: 20px 0;
}
.left .img_holder img {
  width: 200px;
  border-radius: 30px;
}

/*-- TITLE ICONS AND TEXT --*/
.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  color: #9A2540;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.title::after {
  content: "";
  position: absolute;
  top: 35px;
  right: 0;
  width: 8.8em;
  height: 3px;
  background: #9A2540;
}

.left .icon {
  font-size: 20px;
  color: #AB404C;
}

.left .text {
  color: #9A2540;
  font-size: 13px;
  text-transform: uppercase;
}

.left .text a {
  text-decoration: none;
  color: #9A2540;
}

/*-- CONTACT CONTAINER --*/

.pb {
  padding-bottom: 20px;
}

.contact .li_wrap{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.contact .li_wrap .icon{
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .li_wrap .text {
  width: calc(100%-50px);
  color: #AB404C;
  margin-left: 7px;
}

/*-- SKILLSET CONTAINER --*/

.container{
  width: 100%;
  margin: 0 auto;
}

@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  width: 100%;
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 4s 0s;
  -webkit-animation: load 4s 0s;
  -moz-animation: load 4s 0s;
  -o-animation: load 4s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.back.bar.intermediate::before{
  background-color: #90ee90;
}

.bar.learning::before{
  width: calc(40% - 10px);
}
.bar.basic::before{
  width: calc(55% - 10px);
}
.bar.intermediate::before{
  width: calc(70% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}

/*-- DARK MODE --*/

.left .darkmode{
  justify-content: center;
  margin: 60px;
}

body.dark {
  background: linear-gradient(to bottom,#8A291F, #753C33, #3F4547);
  color: whitesmoke;
  transition: background 0.2s linear;
}

body.dark .resume{
  background: #181A1B;
  transition: background 0.2s linear;
}

body.dark .left{
    background: #2D3032;
    transition: background 0.2s linear;
}

body.dark .bar{
  background-color: #222426;
  transition: background 0.2s linear;
}

body.dark .bar::before {
  background-color: #530062;
  transition: background 0.2s linear;
}

body.dark .bar.back::before{
  background-color: #1D475C;
  transition: background 0.2s linear;
}

body.dark .bar.back.bar.intermediate::before{
  background-color: #286F11;
  transition: background 0.2s linear;
}

body.dark .bar.front::before{
  background-color: #AD8200;
  transition: background 0.2s linear;
}

body.dark .right-inner .li-wrap .info-title{
  color: whitesmoke;
}
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 40px;
	width: 80px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 35px;
	width: 35px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(40px);
}


.fa-moon {
  color: #f1c40f;
  font-size: 25px;
}

.fa-sun {
  color: #f39c12;
  font-size: 25px;
}

/* --RIGHT SIDE OF THE PAGE -- */

.header{
  background: linear-gradient(to right,#A73A49,#B34E52);
  padding: 15px;
  margin-top: 30px;
  margin-right: 60px;
  color: white;
  height: 115px;
}

.header .name{
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding-left: 50px;
}

.header .role {
  font-size: medium;
  text-indent: 10px;
  text-align: center;
  padding-left: 43px;
  padding-top: 9px;
  text-transform: uppercase;
}

.about{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  line-height: 26px;
}

.right-inner{
  padding: 30px;
  justify-content: center;
}

.right-inner .exp{
  margin-top: 30px;
}

.right-inner .li-wrap {
  display: flex;
  margin-bottom: 15px;
}
.right-inner .li-wrap .date{
  color: #9A2540;
  margin-bottom: 10px;
}

.right-inner .li-wrap .info{
  width: calc(100%-124px);
  padding-left:25px;
  position: relative;
}

.right-inner .li-wrap .info-title{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: black;
}

.right-inner .li-wrap .info-com{
  font-weight: 300;
  font-size: 14px;
  margin-top: 3px;
}

.right-inner .li-wrap .info-cont{
  margin-top: 15px;
}

.right-inner .li-wrap .info::before{
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 10px;
  height: 10px;
  background: #9A2540;
  border-radius: 50%;
}

.right-inner .li-wrap .info::after{
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 2px;
  height: 90%;
  background: #9A2540;
}